<ul>
  {{#each allArtists}}
    <li>
      
        {{name}}
        <br>
        <img src="{{images.0.url}}" />
        <br>
        <a href="/albums/{{id}}">View Albums</a>
        
        
    </li>

    
  {{/each}}
</ul>

